@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #F3F5F7;

    font-family: 'Poppins', sans-serif;
}

#todo-input {
    width: 200px;
    height: 40px;
    min-height: 40px;
    padding-left: 10px;
    border-radius: 25px;
    border-color: lightgrey;
    border-style: solid;
    outline: none;
}

#todo-input:focus {
    border-color: lightcoral;
}

#todoBox {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 400px;
    min-height: 500px;
    margin-top: 25px;

    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.61);
    padding: 15px;
    padding-top: 25px;

    scroll-behavior: smooth;
}

@media all and (max-width: 600px) {
    #todoBox {
        width: 300px;
    }
}

#todo-list {
    list-style-type: none;
    margin-right: 40px;
    margin-bottom: 0;
}

.list-item {
    width: 300px;
    transition: border-color 500ms ease, background-color 500ms ease;
    background-color: transparent;
    border: 1.5px lightgrey solid;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: start;
    overflow: hidden;
}

.list-item:hover {
    border-color: grey;
    cursor: pointer;
}

.list-item[value="done"] {
    border-color: #9FC490;
    background-color: #C0DFA1;
}